<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= app_name %>
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="description" content="<%= page_desc %>">
    <meta name="keywords" content="<%= page_keywords %>">
    <meta name="author" content="<%= author %>">

    <link rel="stylesheet" href="/css/font-awesome.min.css">


    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">


</head>

<body>

</body>

</html>